<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CPF Tool</title>
</head>
<body>
    <div class="header">
        CPF Tool
    </div>
    <div class="container">
        <div class="content-box">
            <input type="text" class="cpf-box" id="cpf-box">
            <select class="cpf-box" name="estados" id="estados">
                <option value="RS">RS</option>
                <option value="SP">SP</option>
                <option value="RN">RN</option>
                <option value="PR">PR</option>
            </select>
        </div>
        <div class="container">
            <div class="row">
                <input type="button" class="btn-sec" value="Formatar CPF" onclick="formatarCpf()"/>
                <input type="button" class="btn-sec" value="Validar CPF" onclick="validarCpf()"/>
            </div>
            <input type="button" class="btn-pri full-width" value="Gerar CPF" onclick="gerarCpf()"/>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>