<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>CPF Tool</title>
</head>
<body>
    <div class="header">
        CPF Tool
    </div>
    <div class="container">
        <div class="content-box">
            <input type="text" class="cpf-box" id="cpf-box">
            <select class="cpf-box" name="estados" id="estados">
                <option value="">Padrão</option>
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AM">AM</option>
                <option value="AP">AP</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MG">MG</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="PR">PR</option>
                <option value="RJ">RJ</option>
                <option value="RN">RN</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="RS">RS</option>
                <option value="SC">SC</option>
                <option value="SE">SE</option>
                <option value="SP">SP</option>
                <option value="TO">TO</option>
            </select>
        </div>
        <div class="container">
            <div class="row">
                <input type="button" class="btn-sec" value="Formatar CPF" onclick="formatarCpf()"/>
                <input type="button" class="btn-sec" value="Validar CPF" onclick="validarCpf()"/>
            </div>
            <input type="button" class="btn-pri full-width" value="Gerar CPF" onclick="gerarCpf()"/>
        </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>